:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "#{Yaga::GOOGLE['key']}"]);
  #{"_gaq.push(['_setDomainName', 'none']);" if Rails.env.development?}
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  #{render 'layouts/yaga/google_vars'}
  #{render 'layouts/yaga/google_events'}

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
